<% content_for :body do -%>
	關於這裡
	<hr />
	臨時用RoR刻的一個簡單報名系統，基本上沒用到太複雜的技術，應該丟上<a href="http://heroku.com/" target="_blank">Heroku</a>就會動了，對<a href="http://github.com/kaochenlong/PTT-Flash" target="_blank">原始碼</a>有興趣的歡迎拿去用 :)<br />
	若有任何問題，亦歡迎來信討論 <%= SiteAdminEmail %>
<% end -%>